.grater-container {
  width: 640px;
  margin: 0 auto; }
  @media all and (max-width: 660px) {
    .grater-container {
      width: 300px; } }

.grater {
  zoom: 1; }
  .grater > div {
    width: 300px;
    margin: 0 0 2em; }
    .grater > div:first-child {
      float: left; }
    .grater > div:last-child {
      float: right; }
  .grater.reverse > div:first-child {
    float: right; }
  .grater.reverse > div:last-child {
    float: left; }
  .grater:before, .grater:after {
    content: "";
    display: table; }
  .grater:after {
    clear: both; }
  @media all and (max-width: 660px) {
    .grater {
      margin-bottom: 1em; }
      .grater > div {
        float: none !important;
        margin: 0 auto 2em; } }


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* General */
html, button, input {
  -webkit-font-smoothing: antialiased; }

html, body {
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-smoothing: antialiased; }

header {
  margin: 0 auto;
  background: #e01246;
  padding: 100px 0; }

body, input, button {
  color: #444;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 22px; }

a {
  color: #0881b3;
  text-decoration: none;
  border-bottom: 1px solid transparent; }

a:hover {
  -webkit-transition: border 0.3s ease-in-out;
  -moz-transition: border 0.3s ease-in-out;
  transition: border 0.3s ease-in-out;
  border-bottom: 1px solid; }

p {
  margin: 0 0 1em;
  line-height: 1.4em; }

p.small {
  font-size: 0.8em; }

h1 {
  display: none; }

body > header img {
  width: 400px;
  height: 120px;
  margin: 0 auto;
  display: block; }
  @media all and (max-width: 660px) {
    body > header img {
      width: 280px;
      height: 84px; } }

h2 {
  font-weight: 700;
  font-style: normal;
  font-size: 1.2em;
  margin-bottom: 0.5em; }

input {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: #f7f7f7;
  border: 0;
  border-radius: 5px;
  padding: 5px 10px;
  width: 300px;
  height: 44px;
  outline: 0;
  border: 2px solid #f7f7f7;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #333;
  margin: 0 0 0.25em;
  position: relative;
  top: 1px; }
  input:focus {
    border: 2px solid #59d56e; }

button {
  background: #59d56e;
  padding: 10px 15px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 18px;
  border: 0;
  border-radius: 5px;
  color: #fff;
  margin: 0;
  height: 44px; }
  button:hover {
    cursor: pointer; }

footer {
  text-align: center;
  font-size: 12px;
  color: #999;
  padding: 30px 0; }

footer a {
  color: #999; }

a.app-store {
  width: 175px;
  height: 50px; }
  a.app-store img {
    width: 175px;
    height: 50px; }
  a.app-store:hover {
    border: 0; }

section {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 40px 20px; }
  section p:last-child {
    margin-bottom: 0; }
  section div.grater > div {
    margin-bottom: 0;
    position: relative; }
    section div.grater > div:last-child {
      width: 256px;
      height: 256px; }
  section a.app-icon {
    color: transparent;
    font: 0/0 a;
    text-shadow: none;
    width: 256px;
    height: 256px;
    display: block;
    background: no-repeat;
    background-size: 256px 256px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -128px 0 0 -128px; }
    section a.app-icon img {
      width: 100%;
      height: 100%; }
    section a.app-icon:hover {
      border-color: transparent; }
  @media all and (max-width: 660px) {
    section {
      padding: 40px 10px; }
      section div.grater {
        text-align: center; }
        section div.grater > div {
          height: auto !important; }
        section div.grater > div:first-child {
          margin-bottom: 3em; }
      section a.app-icon {
        position: relative;
        top: 0;
        left: 0;
        margin: 0 auto; } }

section#about {
  background: #60d5ee;
  color: #fff; }

section#blue {
  background: #2C3E50;
  color: #fff; }
  section#blue a {
    color: #fff; }
  section#blue p:last-child {
    text-align: center;
    margin: 2em auto 0; }
  @media all and (max-width: 660px) {
    section#blue {
      text-align: center; } }

section#white {
  background: #fff;
  color: #4c4e53;
 
  }
  section#white em {
    background-color: #fdffb6;
    padding: 2px;
    box-shadow: #fdffb6 0 0 5px;
    color: #fff; }
  section#white a.title {
    display: block;
    width: 269px;
    height: 44px;
    margin: 0 auto 1em; }
    section#white a.title:hover {
      border-bottom-color: transparent; }
    section#white a.title img {
      width: 269px;
      height: 44px; }
  section#white a.app-icon {
    box-shadow: 0 0 4px rgba(144, 147, 150, 0.8);
    border-radius: 43px;
    overflow: hidden; }
  section#white p:last-child {
    text-align: center;
    margin: 2em auto 0; }
  section#white a {
    color: #4c4e53; }
    
section#other {
  background: #d3d3d3;
  color: #4c4e53;
 
  }
  section#other em {
    background-color: #fdffb6;
    padding: 2px;
    box-shadow: #fdffb6 0 0 5px;
    color: #fff; }
  section#other a.title {
    display: block;
    width: 269px;
    height: 44px;
    margin: 0 auto 1em; }
    section#other a.title:hover {
      border-bottom-color: transparent; }
    section#other a.title img {
      width: 269px;
      height: 44px; }
  section#other a.app-icon {
    box-shadow: 0 0 4px rgba(144, 147, 150, 0.8);
    border-radius: 43px;
    overflow: hidden; }
  section#other p:last-child {
    text-align: center;
    margin: 2em auto 0; }
  section#other a {
    color: #4c4e53; }

section#me {
  background: #d3d3d3;
  color: #fff; }
  section#me a {
    color: #4c4e53; }
  section#me a.headshot {
    display: block;
    text-align: center;
    width: 190px;
    margin: 0 auto; }
    section#me a.headshot:hover {
      border-bottom: 1px transparent solid; }
    section#me a.headshot img {
      width: 190px;
      height: 190px;
      display: block;
      background: asset-url("soffes.png") no-repeat;
      background-size: 190px 190px;
      margin: 0 auto 1em; }
      @media only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min--moz-device-pixel-ratio: 1.3), only screen and (-o-min-device-pixel-ratio: 1.3 / 1), only screen and (min-resolution: 125dpi), only screen and (min-resolution: 1.3dppx) {
        section#me a.headshot img {
          background-image: asset-url("soffes@2x.png"); } }
    section#me a.headshot span.name {
      display: block; }
